{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set deletion_endpoint = 'provisioning.delete_template_request' %}
{% set update_endpoint = 'provisioning.update_template' %}

{% set endpoints = [
    ('provisioning.manage_template', 'Template information'),
    ('provisioning.generate_configuration_template', 'Test rendering')
] %}

{% if current_user.is_admin() %}
    {% set endpoints = endpoints + [
            (update_endpoint, 'Update template'),
            (deletion_endpoint, 'Delete template')
       ]
    %}
{% endif %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route, template_id=template.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro expand_options(template) %}
    {% set all_options = template.get_options() %}
    {% set option_values = template.extract_options(prepend="") %}
    {% for option in all_options %}
        <tr><td>{{ option[0]|upper }}{{ option[1::] }}</td><td>{{ option_values[option] }}</td></tr>
    {% endfor %}
{% endmacro %}

{% macro template_info(template) %}
    <table class="ui compact definition table">
        <tr><td>Name</td><td>{{ template.name }}</td></tr>
        <tr><td>Enabled</td><td>{{ template.enabled }}</td></tr>
        {{ expand_options(template) }}
        <tr><td>Created By</td><td>{{ template.created_by.full_name() }}</td></tr>
        <tr><td>Created At</td><td>{{ template.created_at }}</td></tr>
        <tr><td>Updated By</td><td>{{ template.updated_by.full_name() }}</td></tr>
        <tr><td>Updated At</td><td>{{ template.updated_at }}</td></tr>
        <tr><td>Template</td><td><pre>{{ template.template }}</pre></td></tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('provisioning.templates') }}">
                <i class="caret left icon"></i>
                Back to all templates
            </a>
            <h2 class="ui header">
                {{ template.name }}
                <div class="sub header">View and manage template {{ template.name }}.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if request.endpoint == deletion_endpoint %}
                    <h3 class="ui red block header">
                        <i class="warning circle icon"></i>
                        <div class="content">
                            This action is permanent
                            <div class="sub header">
                                Deleting a template is not a reversible change. Any information associated
                                with this template will be removed, and cannot be recovered.
                            </div>
                        </div>
                    </h3>

                    <div class="ui form">
                        <div class="inline field">
                            <div class="ui deletion checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I understand that this action cannot be undone.</label>
                            </div>
                        </div>
                        <a class="ui disabled negative deletion button">
                            Delete this template
                        </a>
                    </div>
                    </div>
                {% elif form %}
                    {% if request.endpoint == update_endpoint %}
                        {{ f.draggable_keywords(keywords) }}
                    {% endif %}
                    
                    {{ f.render_form(form) }}
                    {% if rendered_template %}
                        <div class="content">
                            Rendered template
                            <div class="sub header">
                                The result of the rendered template
                            </div>
                            <pre>
                                {{ rendered_template }}
                            </pre>
                        </div>                        
                    {% endif %}
                {% else %}
                    {{ template_info(template) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.deletion.checkbox').checkbox({
            onChecked: function() {
                $('.deletion.button').removeClass('disabled')
                        .attr('href', '{{ url_for('provisioning.delete_template', template_id=template.id) }}');
            },
            onUnchecked: function() {
                $('.deletion.button').addClass('disabled').removeAttr('href');
            }
        });

        $(document).ready(function() {

            $("#template").addClass("droppable");


            $.fn.insertAtCaret = function (myValue) {
              return this.each(function(){
              //IE support
              if (document.selection) {
                this.focus();
                sel = document.selection.createRange();
                sel.text = myValue;
                this.focus();
              }
              //MOZILLA / NETSCAPE support
              else if (this.selectionStart || this.selectionStart == '0') {
                var startPos = this.selectionStart;
                var endPos = this.selectionEnd;
                var scrollTop = this.scrollTop;
                this.value = this.value.substring(0, startPos)+ myValue+ this.value.substring(endPos,this.value.length);
                this.focus();
                this.selectionStart = startPos + myValue.length;
                this.selectionEnd = startPos + myValue.length;
                this.scrollTop = scrollTop;
              } else {
                this.value += myValue;
                this.focus();
              }
              });
            };

            $(function() {         
                $( ".draggable").draggable({
                    helper: 'clone',
                    cursor: 'pointer',
                    start: function (ui){
                        $(ui.helper).addClass("dragging");
                    }
                });

                $( ".droppable" ).droppable({
                    accept: ".draggable",                        
                    drop: function(ev, ui) {
                        $(this).insertAtCaret(" \{\{ " + ui.draggable.text() + " \}\} ");
                    }
                });

            });    
        });
    </script>
{% endblock %}
