{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}


{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('provisioning.index') }}">
                <i class="caret left icon"></i>
                Back to provisioning dashboard
            </a>
            <h2 class="ui header">
                Add New Template
                <div class="sub header">Create a new provisioning template</div>
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

                {{ f.render_form_field(form.enabled) }}
                {{ f.render_form_field(form.name) }}

                {% for option in form.get_options() %}
                    {{ f.render_form_field(form[option]) }}
                {% endfor %}

                {{ f.draggable_keywords(keywords) }}

                {{ f.render_form_field(form.template, extra_classes="droppable") }}


                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                {{ f.form_message(flashes['info'], header='Information', class='info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                    {{ f.render_form_field(field) }}
                {% endfor %}

            {{ f.end_form() }}
        </div>
    </div>

    <script>
        $(document).ready(function() {


            $.fn.insertAtCaret = function (myValue) {
              return this.each(function(){
              //IE support
              if (document.selection) {
                this.focus();
                sel = document.selection.createRange();
                sel.text = myValue;
                this.focus();
              }
              //MOZILLA / NETSCAPE support
              else if (this.selectionStart || this.selectionStart == '0') {
                var startPos = this.selectionStart;
                var endPos = this.selectionEnd;
                var scrollTop = this.scrollTop;
                this.value = this.value.substring(0, startPos)+ myValue+ this.value.substring(endPos,this.value.length);
                this.focus();
                this.selectionStart = startPos + myValue.length;
                this.selectionEnd = startPos + myValue.length;
                this.scrollTop = scrollTop;
              } else {
                this.value += myValue;
                this.focus();
              }
              });
            };

            $(function() {         
                $( ".draggable").draggable({
                    helper: 'clone',
                    cursor: 'pointer',
                    start: function (ui){
                        $(ui.helper).addClass("dragging");
                    }
                });

                $( ".droppable" ).droppable({
                    accept: ".draggable",                        
                    drop: function(ev, ui) {
                        $(this).insertAtCaret(" \{\{ " + ui.draggable.text() + " \}\} ");
                    }
                });

            });    
        });
    </script>
{% endblock %}
