{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('provisioning.index') }}">
                <i class="caret left icon"></i>
                Back to provisioning dashboard
            </a>
            <h2 class="ui header">
                Templates
                <div class="sub header">
                    View and manage network templates.
                </div>
            </h2>

            <div class="ui menu">
                <div id="select-template-state" class="ui dropdown item">
                    <div class="text">
                        Select template
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="enabled">Active templates</div>
                        <div class="item" data-value="all">All templates</div>
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-templates" type="text" placeholder="Search inventory...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Template</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for t in templates | sort(attribute='name') %}
                        <tr>
                            <td onclick="window.location.href='{{ url_for('provisioning.manage_template', template_id=t.id) }}';">{{ t.name }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-templates').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-template-state').dropdown({
                onChange: function (value, text, $selectedItem) {
                    if (value === "all") {
                        value = "";
                    }
                    else if (value === "enabled") {
                        $('td.template.state:contains(' + value + ')').closest('tr').addClass('hidden').hide();
                        $('td.device.type').not(':contains(' + value + ')').closest('tr').removeClass('hidden').show();
                        return;
                    }
                    $('td.device.type:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.device.type').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
