{% extends 'layouts/base.html' %}

{% macro dashboard_link(title, short_descr, image) %}
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Open link</div>
          </div>
        </div>
      </div>
      <img src="{{ url_for('static', filename=image) }}" height="194">
    </div>
    <div class="content">
      <a class="header">{{ title }}</a>
      <div class="meta">
        <span class="date">{{ short_descr }}</span>
      </div>
    </div>
  </div>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Useful links
            </h2>

            <div class="ui special four cards mini">
                {{ dashboard_link("Splunk", "Reports and dashboarding", "images/links/splunk.png") }}
                {{ dashboard_link("GIT", "GIT code repository", "images/links/git.png") }}
                {{ dashboard_link("Backups", "Direct link to backups", "images/links/backups.png") }}
                {{ dashboard_link("Solarwinds", "Monitoring", "images/links/git.png") }}
                {{ dashboard_link("", "", "images/links/git.png") }}
            </div>

        </div>
    </div>

<script>
$('.special.cards .image').dimmer({
  on: 'hover'
});
</script>
{% endblock %}
