{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set deletion_endpoint = 'admin.delete_useful_link_request' %}

{% set endpoints = [
    ('admin.manage_useful_link', 'Useful Link information')
] %}

{% if current_user.is_admin() %}
    {% set endpoints = endpoints + [
            ('admin.update_useful_link', 'Update useful link'),
            (deletion_endpoint, 'Delete useful link')
       ]
    %}
{% endif %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route, useful_link_id=useful_link.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}


{% macro useful_link_info(ul) %}
    <table class="ui compact definition table">
        <tr><td>Name</td><td>{{ ul.name }}</td></tr>
        <tr><td>URL</td><td>{{ ul.url }}</td></tr>
        <tr><td>Title</td><td>{{ ul.title }}</td></tr>
        <tr><td>Short description</td><td>{{ ul.short_descr }}</td></tr>
        <tr><td>Long Description</td><td>{{ ul.long_descr }}</td></tr>
        <tr><td>Tooltip</td><td>{{ ul.tooltip }}</td></tr>
        <tr><td>Enabled</td><td>{{ ul.enabled }}</td></tr>
        <tr><td>Image</td><td>{{ ul.img }}</td></tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.useful_links') }}">
                <i class="caret left icon"></i>
                Back to all links
            </a>
            <h2 class="ui header">
                {{ useful_link.name }}
                <div class="sub header">View and manage link {{ useful_link.name }}.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if request.endpoint == deletion_endpoint %}
                    <h3 class="ui red block header">
                        <i class="warning circle icon"></i>
                        <div class="content">
                            This action is permanent
                            <div class="sub header">
                                Deleting a link is not a reversible change. Any information associated
                                with this link will be removed, and cannot be recovered.
                            </div>
                        </div>
                    </h3>

                    <div class="ui form">
                        <div class="inline field">
                            <div class="ui deletion checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I understand that this action cannot be undone.</label>
                            </div>
                        </div>
                        <a class="ui disabled negative deletion button">
                            Delete this link
                        </a>
                    </div>
                    </div>
                {% elif form %}
                    {{ f.render_form(form) }}
                {% else %}
                    {{ useful_link_info(useful_link) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.deletion.checkbox').checkbox({
            onChecked: function() {
                $('.deletion.button').removeClass('disabled')
                        .attr('href', '{{ url_for('admin.delete_useful_link', useful_link_id=useful_link.id) }}');
            },
            onUnchecked: function() {
                $('.deletion.button').addClass('disabled').removeAttr('href');
            }
        });
    </script>
{% endblock %}
