{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">

            {% if current_user.is_admin() %}
                <div class="ui right floated icon basic compact button with-popup" data-content="Add a new link" onclick="window.open('{{ url_for('admin.new_useful_link') }}', '_self')">
                    <i class="olive add icon"></i>
                </div>
            {% endif %}

            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to admin dashboard
            </a>
            <h2 class="ui header">
                Useful links
                <div class="sub header">
                    View and manage useful links.
                </div>
            </h2>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for k in useful_links | sort(attribute='name') %}
                        <tr onclick="window.location.href='{{ url_for('admin.manage_useful_link', useful_link_id=k.id) }}';">
                            <td>{{ k.name }}</td>
                            <td>{{ k.url }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    </script>
{% endblock %}
