{% extends 'layouts/base.html' %}
{% from "inventory/macros.html" import check_item_icon %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">

            {% if current_user.is_admin() %}
                <div class="ui right floated icon basic compact button with-popup" data-content="Add a new pool" onclick="window.open('{{ url_for('inventory.new_pool') }}', '_self')">
                    <i class="olive add icon"></i>
                </div>
            {% endif %}

            <a class="ui basic compact button" href="{{ url_for('inventory.index') }}">
                <i class="caret left icon"></i>
                Back to inventory dashboard
            </a>
            <h2 class="ui header">
                Device pools
                <div class="sub header">
                    View and manage network device pools.
                </div>
            </h2>

            <div class="ui menu">
                <div id="select-pool" class="ui dropdown item">
                    <div class="text">
                        Select pool
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="">Select pool</div>
                        {% for r in pools %}
                            <div class="item" data-value="{{ r.name }}">{{ r.name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-pools" type="text" placeholder="Search pools...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>


            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Pool</th>
                            <th>Description</th>
                            <th>Devices</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in pools | sort(attribute='name') %}
                        <tr onclick="window.location.href = '{{ url_for('inventory.pool_info', pool_id=u.id) }}';">
                            <td>{{ u.name }}</td>
                            <td>{{ u.description }}</td>
                            <td>{{ u.devices }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-pools').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-pool').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.site.region:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.site.region').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
